:host {
  .months {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    li {
      flex: 1;
      background-color: var(--second);
      padding: 1rem;
      border-radius: 1rem;
      text-align: center;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.1s ease-in;

      &:hover, &.active {
        opacity: 0.6;
      }

    }
  }
}
