:host {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .loading {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #333;
    border-bottom: 5px solid transparent;
    animation: rotation 0.5s linear infinite;

    @keyframes rotation {
      to {
        transform: rotate(360deg);
      }
    }
  }

}
