<div class="scroll">
  <ul class="vendas">
    @for (venda of vendas(); track venda.id)
    {
      <li class="venda-item">
        <section>
          <h1>{{ venda.id }}</h1>
          <p>{{ venda.nome }}</p>
        </section>
        <span>{{ venda.preco.toLocaleString('pt-BR', { style: 'currency', currency: 'BRL' })}}</span>
      </li>
    }
    @empty {
      <p class="vendas-empty">Não há nenhuma venda disponível</p>
    }
  </ul>
</div>
<app-paginator (page)="changePage($event)" [end]="vendas().length === 0"/>
