<div class="scroll">
  <ul class="vendas">
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>
    <li class="venda-item">
      <section>
        <h1>1323sdsds423dsdssds234232</h1>
        <p>Gabriel Cardoso Girarde</p>
      </section>
      <span>R$ 645.00</span>
    </li>

  </ul>
</div>
