<aside class="sidenav">
  <img class="logo" src="assets/fintech.svg" alt="Fintech Logo">
  <button [ngClass]="{ invisible: !hidden }" class="hidden" (click)="hidden = !hidden"></button>
  <nav class="nav" [class.disable]="hidden">
    <ul class="nav-menu">
      @for (menu of menus(); track menu) {
        <li class="nav-menu-item" routerLink="/fintech/{{menu.label | lowercase }}" routerLinkActive="active">
          <img [src]="menu.source" [alt]="menu.label">
          <span>{{ menu.label }}</span>
        </li>
      }
    </ul>
  </nav>
</aside>
