:host {
  height: 100%;

  .sidenav {
    background-color: var(--second);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    border-radius: 1rem;
    height: inherit;

    .logo {
      align-self: start;
    }

    .nav-menu {
      display: flex;
      flex-direction: column;
      gap: 0.8rem;

      .nav-menu-item {
        display: inherit;
        align-items: center;
        gap: 0.5rem;
        cursor: pointer;
        transition: all 0.1s ease-in;
        flex-wrap: wrap;
        word-break: break-all;

        img {
          position: relative;
          bottom: 0.05rem;
          background-color: var(--third);
          border-radius: 50%;
          padding: 0.2rem;
        }

        &:hover {
          font-weight: bold;

          img {
            background-color: transparent;
          }

        }
      }
    }

  }

}
